<div class="footer">
  <div class="content">
    <img src="../../assets/logo.svg" class="sandbox-logo" alt="" data-aos="zoom-out">

    <div class="pages" data-aos="zoom-in">
      <h4 class="title">PAGES</h4>
      <div class="links-wrapper">
        <div class="links">
          <a href="">News</a>
          <a href="#">Create</a>
          <a href="#">Marketplace</a>
          <a href="#">Game</a>
        </div>
        <div class="links">
          <a href="#">Editor</a>
          <a href="#">Whitepaper</a>
          <a href="#">Team</a>
          <a href="#">FAQs</a>
        </div>
      </div>
    </div>

    <div class="socials" data-aos="zoom-out">
      <h4 class="title">SOCIAL</h4>
      <div class="links-wrapper">
        <img src="../../assets/medium.png" class="social-icon" alt="">
        <img src="../../assets/pixowl.png" class="social-icon" alt="">
        <img src="../../assets/f-twitter.png" class="social-icon" alt="">
      </div>
    </div>
  </div>
  <div class="copyright">
    Copyright © 2012-2018. The Sandbox. All Rights Reserved.
  </div>
</div>