html,
body {
  margin: 0px;
  height: 100%;
  background-color: black;
}

#app {
  height: 100%;
}

@font-face {
  font-family: PixowlFont;
  src: url(./assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: PixowlFontBold;
  src: url(./assets/fonts/Montserrat/Montserrat-Bold.ttf);
}